*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 1vmin;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.container{
    width: 40%;
    height: 100%;
    top: 0;
    left: 40%;
    margin:auto;
}
.centerpost{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}
.form{
    border: 1px solid lightgray;
    height:75vmin;
    width:80%;
    margin: 1% auto;
    overflow-y:auto;
    text-align:center;
}
.msg{
    height:20%;
    width:50%;
    margin: -1% auto 2% auto;
    text-align:center;
}
.logo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: currentColor;
}
.logo:hover{
    text-decoration: none;
    color: currentColor;
}
.logo:active{
    text-decoration: none;
    color: currentColor;
}
.logo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20pt;
    text-align:center;
}
.label{
    font-size: 17pt;
    text-align:center;
}
.addpostname{
    background-color:white;
    color: black;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 12pt;
    outline: none;
    border: 0.3vmin solid lightgray;
    width: 80%;
    padding: 1.5vmin;
    padding-left: 2%;
    margin: 5px auto;
    transition: 400ms;
}    
.addpostname:hover {
    border:0.3vmin solid gray;
}
.addpostname:focus {
    border:0.3vmin solid rgb(1, 90, 255);
}
.addpostauthor{
    background-color:white;
    color: black;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 12pt;
    outline: none;
    border: 0.3vmin solid lightgray;
    width: 50%;
    padding: 1.5vmin;
    margin: 5px auto;
    margin-right: 40vmin;
    transition: 400ms;
}    
.addpostauthor:hover {
    border:0.3vmin solid gray;
}
.addpostauthor:focus {
    border:0.3vmin solid rgb(1, 90, 255);
}
.addpostimg{
    background-color:white;
    color:lightcoral;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 12pt;
    outline: none;
    border: 0.3vmin solid lightgray;
    width: 80%;
    padding: 1%;
    margin: 5px auto;
    transition: 400ms;
}    
.addpostimg:hover {
    border:0.3vmin solid gray;
    cursor:pointer;
}
.addpostimg:focus {
    border:0.3vmin solid rgb(1, 90, 255);
}
.addpostsubmit{
    padding: 8px 25px;
    background-color:rgb(1, 90, 255);
    color:white;
    border:0;
    font-size: 12pt;
}
.addpostsubmit:hover{
    background-color:rgb(0, 18, 177);
    cursor: pointer;
}
#content{
    height:33vmin;
    width: 150vmin;
    padding:1%;
    font-size: 12pt;
    resize: none;
}
/* messages */
.error{
    text-align:center;
    font-size: 11pt;
    color:crimson;
    margin: 0;
    padding:0;
}
.ok{
    text-align:center;
    font-size: 11pt;
    color:olivedrab;
    margin: 0;
    padding:0;
}
.link{
    color:darkslateblue;
    font-style: oblique;
    font-size: 13pt;
}
img[alt="www.000webhost.com"] {
    display:none;
}