*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 1vh;
}
html,
body{
    padding-top: 8vh;
    margin: 0 0;
}
nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:8vh;
    background-color: white;
}
div.top{
    border: 0.5px solid lightgray;
    height:8vh;
    width:100%;
    display: inline-block;
}
div.imglogo{
    float:left;
    width: 100%;
    height: 100%;
}
a.logo{
    color: black;
}
a.logo:active{
    text-decoration: currentColor;
}
div.logo{
    width: 30vh;
    height: 8vh;
    margin-left: 8%;
}
div#namelogo{
    float:right;
    margin:0 8vh 0 0;
    padding: 2vh 0;
    font-size: 13pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div.menu{
    float:right;
    margin-top:-8vh;
    height: 8vh;
    margin-right: 20%;
}
ul.menu{
    float:left;
    margin:2vh 0;
}
a.menu{
    color: black;
    padding: 5px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-style: italic; */
    transition: color 2s;
}
a.menu:hover{
    color: rgb(124, 124, 124);
    text-decoration: underline;
}
a.menu:active{
    text-decoration:currentColor;
}
li.menu{
    display: inline;
    padding: 3vh 0vh;
    margin-left:2vh;
    list-style-type: none;
    text-decoration: none;
}

div.allwithoutmenu{
    /* border:1px solid; */
    margin: 0vh 0vh;
    width: 100%;
    min-height: 95vh;
    display:table;
}
div.content{
    /* border:1px solid; */
    margin: 2vh 20vh;
}
div#desc{
    text-align: left; 
    font-size: 25pt;
    padding-left: 2vh;
    padding-bottom: 1.5%;
}
/*  */
/* one post */
div.viewonepost{
    height: 54vh;
    width: 160vh;
    padding:2vh 3vh 2vh 2vh;
    margin-top:2vh;
    transition:0ms;
    color:black;
}
div.viewonepost:hover{
    border:0.3vh solid lightgray;
    padding:1.7vh 2.7vh 1.7vh 1.7vh;
    cursor:pointer;
}
div.viewonepost:hover p.onepostzagolovok{
    color:darkslateblue;
}
div.oneposttext{
    float:left;
    width: 50%;
    height: 100%;
    text-align: left;
    padding: 4vh 3vh 2vh 2vh;
}
div.oneposttext p{
    color: inherit;
}
p.onepostzagolovok{
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0vh 0vh;
    font-size: 20pt;
}
p.onepostcontent{
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top: 2%;
    color: black;
}
div.onepostimage{
    float:right;
    width: 50%;
    height: 100%;
}
img.onepostimage{
    width: 100%;
    height: 100%;
}

/*  */
/* small posts */
div.smallpost{
    width:140vh;
    height: 35vh;
    padding:2vh 2vh;
    margin:0 auto;
    margin-top:2vh;
    transition:0ms;
    color:black;
}
div.smallpost:hover{
    border:0.3vh solid lightgray;
    padding:1.7vh 1.7vh;
    cursor:pointer;
}
div.smallpost:hover p.smallpostzagolovok{
    color:darkslateblue;
}
div.smallposttext{
    /* border:1px solid; */
    float:left;
    width: 90vh;
    height: 100%;
    text-align: left;
    padding: 2vh 3vh 2vh 2vh;
    /* display:inline-block; */
}
div.smallposttext p{
    color: inherit;
}
p.smallpostzagolovok{
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0vh 0vh;
    font-size: 17pt;
}
p.smallpostcontent{
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top: 2%;
    color: black;
}
div.smallpostimage{
    float:right;
    /* display:inline-block; */
    width: 30%;
    height: 100%;
    /* text-align: -webkit-center; */
}
img.smallpostimage{
    width: 100%;
    height: 100%;
}
/*  */
/* view single post */
div.allsinglepost{
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0vh 0vh;
    width: 100%;
    min-height: 95vh;
    display: table;
}
div.contentsinglepost{
    margin: 2% 17% 2% 17%;
}
div#singlepostzagolovok{
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 99vh;
    text-align: left; 
    margin:0 auto;
    padding: 0;
    font-size: 28pt;
    text-indent: 2%;
}
/* div#singlepostzagolovok::first-letter{
    font-size: 30pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
} */

/* rating area */
.rating-area {
	overflow: hidden;
	width: 30vh;
	/* margin-top: -3vh;
	margin-left: 2vh; */
}
.rating-area input{
    display:none;
}
.rating-area label{
    background-color:transparent;
    border: none;
    font-size: 15pt;
    padding:0;
    cursor: pointer;
}
.rating-area label:hover {
    color: rgb(168, 143, 0);
}

/* rating area */

div#singlepostauthor{
    max-width: 70%;
    text-align: left;
    padding-left: 2%; 
    font-size: 14pt;
    margin-left: 15%;
}
p.singlepostdate{
    margin-top: -2%;
    font-size: 11pt;
    color: lightslategray;
}
div.singlepostimage{
    width: 100%;
    height: 80vh;
    margin:5% 0;
    display:none;
}
img.singlepostimg{
    width: 100%;
    height:100%;
    display:none;
}
div.singleposttext{
    margin:0 auto;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 120vh;
    height: 100%;
    text-align: left;
    padding: 1% 5%;
    font-size: 16pt;
    text-indent: 20px;
}
/* addcomments */
div.addcomments{
    padding: 1vh;
    width:80%;
    margin-left: 10%;
}
div.addcomments:hover{
    border: 0.3vh solid lightgray;
    padding:0.7vh;
}
div.addcomment{
    padding-left: 5%;
}

textarea#textcomment{
    margin-top: -2%;
    margin-bottom: 2%;
    height:15vh;
    width: 80%;
    padding:1%;
    font-size: 12pt;
    resize:none;
}
textarea#textcomment:hover {
    border:1px solid rgb(1, 90, 255);
}

/* buttons */
input.submit{
    padding: 8px 25px;
    background-color:rgb(1, 90, 255);
    color:white;
    border:0;
    font-size: 12pt;
    margin-bottom: 2%;
}
input.submit:hover{
    background-color:rgb(0, 18, 177);
    cursor: pointer;
}

/* viewcomments */
div.viewcomments{
    /* border: 0.3vh solid lightgray; */
    margin-top: 1%;
}
div.viewcomment{
    text-overflow: ellipsis;
    margin-left: 10%;
    margin-right: 10%;
    padding:1vh;
    padding-left: 2vh;
}
div.viewcomment:hover{
    padding: 0.7vh;
    border: 0.3vh solid lightgray;
    padding-left: 1.7vh;
}
p.commentauthor{
    
    margin-bottom:0;
    padding-bottom:0;
    font-size: 13pt;
}
div.commentdate{
    font-style: oblique;
    margin-top:0;
    padding-top:1%;
    font-size: 11pt;
    padding-left:5%;
}
p.commentcontent{
    text-overflow: ellipsis;
    margin: 3% auto;
    font-size: 13pt;
    width: 80%;
    text-indent: 2%;
}

/* like area */
div.like{
	overflow: hidden;
    margin-left: 8%;
}
input.like{
    display:none;
}
label.like{
    background-color:transparent;
    border: none;
    font-size: 18pt;
    cursor: pointer;
}
label.like:hover {
    color: rgb(168, 0, 0);
}
/* like area */

hr{
    width: 85%;
}
div.viewnotcomment{
    margin-left: 10%;
    padding:1vh;
    padding-left: 2vh;
}

ul.list{
    margin:0 auto;
    font-size: 14pt;
}
li.list{
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration:none;
    list-style: none;
    padding:1.5vh;
    padding-bottom:0.5vh;
}
li.list:hover{
    border: 0.3vh solid lightgray;
    padding: 1.2vh;
    padding-bottom:0.2vh;
}
p.list{
    margin:0 0;
}
a.list{
    text-decoration: none;
    font-style: italic;
    color: darkslateblue;
    float:right;
    margin-right: 3%;
}
hr{
    width:90%;
}



/* Style the search field */
.search{
    /* position:absolute; */
    left:1vh;
    top:2.5vh;
    display: inline-table;
    width:100%;
}
input.text {
    padding: 10px;
    font-size: 17pt;
    border: 0.3vh solid lightgray;
    float: left;
    width: 90%;
    background: #f1f1f1;
}
input.text:hover {
    border:0.3vh solid gray;
}
/* Style the submit button */
form.search button {
    float: right;
    width: 10%;
    padding: 0px;
    color: white;
    font-size: 28pt;
    border: 0.3vh solid lightgrey;
    background-color:rgb(1, 90, 255);
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}
form.search button:hover {
    background-color:rgb(0, 18, 177);
}
/* Clear floats */
form.search::after {
    content: "";
    clear: both;
    display: table;
}



p.error{
    /* position: absolute; */
    text-align:center;
    font-size: 12pt;
    color:crimson;
    margin: 0;
    padding:0;
}
p.center{
    margin-left: 10%;
    font-size: 13pt;;
}
footer.bottom{
    background-color: lightgray;
    display: table-row;
    height: 8vh;
    border:1px solid rgb(68, 68, 68);
    text-align: center;
}