RewriteEngine on
#404 Страница не найдена
ErrorDocument 404 http://blog.local/error404
#500 Внутренняя ошибка сервера
ErrorDocument 500 http://blog.local/error500
<FilesMatch "\.(jpg|css|jpeg|png|gif|swf)$">
    FallbackResource disabled 
    Header set Cache-Control "max-age=604800, public"
</FilesMatch>
<FilesMatch "\.(json|log)$">
    Redirect 301 http://blog.local/
</FilesMatch>
Options -Indexes
Require all granted
#DirectoryIndex disabled
DirectorySlash Off
FallbackResource /
#Blocking links with <script>
RewriteCond %{QUERY_STRING} (\<|%3C).*script.*(\>|%3E) [NC,OR]
#Blocking scripts with PHP Globals:
RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
#Blocking scripts with _REQUEST:
RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
#And go to
RewriteRule ^(.*)$ /error404 [F,L]
AddDefaultCharset utf-8
php_flag display_errors on
php_value error_reporting 2047