RewriteEngine on
#404 Страница не найдена
ErrorDocument 404 http://blog.local/error404
#500 Внутренняя ошибка сервера
#ErrorDocument 500 http://blog.local/index.php
<FilesMatch "\.(jpg|css|jpeg|png|gif|swf)$">
    FallbackResource disabled 
    Header set Cache-Control "max-age=604800, public"
</FilesMatch>
<FilesMatch "\.(json|log)$">
    Redirect 301 http://blog.local/
</FilesMatch>
Options -Indexes
Require all granted
#DirectoryIndex disabled
DirectorySlash Off
FallbackResource /
AddDefaultCharset utf-8
php_flag display_errors on
php_value error_reporting 2047