*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 1vh;
    /* border: 1px solid; */
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}
div.container{
    /* border: 2px solid lightgray; */
    width: 40%;
    height: 100%;
    top: 0;
    left: 40%;
    margin:auto;
}
div.center{
    width: 100%;
    height: 100%;
    position: relative;
    top: 20%;
    left: 0;
}
div.form{
    border: 0.3vh solid lightgray;
    height:60%;
    width:80%;
    margin: 1% auto;
    
}
div.msg{
    height:5%;
    width:90%;
    margin: -1% auto 5% auto;
    text-align:center;
}
div#right{
    float:right;
    margin-right: 20%;
}

a.logo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: currentColor;
}
a.logo:hover{
    text-decoration: none;
    color: currentColor;
}
a.logo:active{
    text-decoration: none;
    color: currentColor;
}
p.logo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20pt;
    text-align:center;
}
p.label{
    font-size: 17pt;
    text-align:center;
}
a.link{
    color:darkslateblue;
    font-style: oblique;
    font-size: 13pt;
}
div.radio{
    margin:0;
    padding:5% 5% 1% 15%;
}
/* buttons */
input.submit{
    padding: 8px 25px;
    background-color:rgb(1, 90, 255);
    color:white;
    border:0;
    font-size: 12pt;
}
input.submit:hover{
    background-color:rgb(0, 18, 177);
    cursor: pointer;
}
span{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 13pt;
    font-weight: 500;
    font-style: italic;
}

/* messages */
p.error{
    /* position: absolute; */
    text-align:center;
    font-size: 12pt;
    color:crimson;
    margin: 0;
    padding:0;
}
p.ok{
    text-align:center;
    font-size: 10pt;
    color:chartreuse;
    margin: 0;
    padding:0;
}

div.content{
    border: 1px solid lightgray;
    width: 100%;
    height: 100%;
}
div.view{
    width: 40%;
    height: 100%;
    text-overflow: ellipsis;
    margin:auto;
}
div.viewlist{
    border: 0.3vh solid lightgray;
    width: 100%;
    min-height: 100%;
}
ul.list{
    margin:0 auto;
}
li.list{
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration:none;
    list-style: none;
    padding:1.5vh;
    padding-bottom:0.5vh;
}
li.list:hover{
    border: 0.3vh solid lightgray;
    padding: 1.2vh;
    padding-bottom:0.2vh;
}
p.list{
    margin:0 0;
}
a.list{
    text-decoration: none;
    font-style: italic;
    color: darkslateblue;
    float:right;
    margin-right: 3%;
}
hr{
    width:90%;
}